@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
	background: #ffe1e6;
	padding: 0;
	margin: 0;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #666;
	position: relative;
	z-index: 1;
	transition: all 1.5s ease-in-out;
}

.paper {
    width: 25em;
    height: 15em;
    position: absolute;
    display: block;
    top: 2em;
    left: 2.5em;
    background: #fff;
    overflow: hidden;
    -webkit-transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    z-index: 1;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}

.back {
	display: block;
	position: relative;
	background: #bbbbbb;
	top: 0;
	height: 0;
	width: 30em;
	height: 17em;
	content: "";
	-webkit-transition: 1.5s ease-in-out;
	-moz-transition: 1.5s ease-in-out;
	transition: all  1.5s ease-in-out;
	box-shadow: 0 0 1em rgba(68, 68, 136, 0.15);
	z-index: 0;
}

.container {
	margin: 0 auto 0 auto;
	padding: 12em 1em 1em 1em;
	width: fit-content;
	height: 500px;
	position: relative;
	overflow: hidden;
	display: block;
	z-index: 0;
	transition: all 1.5s ease-in-out;
}

.container .cover {
	position: absolute;
	top: 0em;
	left: 50%;
	height: 1em;
	display: block;
	-moz-transform: translate(-50%, 0%) scaleY(1);
	-webkit-transform: translate(-50%, 0%) scaleY(1);
	transform: translate(-50%, 0%) scaleY(1);
	-webkit-transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	margin: 0 auto;
	border: 15em solid transparent;
	border-top: 10em solid white;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	transition: z-index 1.5s ease-in-out, transform 1.5s ease-in-out, border-top 1.5s ease-in-out;
	transition-delay: 1.5s;
	z-index: 30;
}

.container:hover {
    cursor: pointer;
}

.container.active .back {
	top: 10em;
	z-index: 0;
}

.container.active .back .paper {
	top: -15em;
	z-index: 45;
	height: 30em;
	transition: z-index 1.5s ease-in-out, top 1.5s ease-in-out, height 1.5s ease-in-out;
	transition-delay: 1.5s;
}

.container.active .cover {
	border-top: 10em solid #eee;
	-moz-transform: translate(-50%, -100%) scaleY(-1);
	-webkit-transform: translate(-50%, -100%) scaleY(-1);
	transform: translate(-50%, -100%) scaleY(-1);
	z-index: 0;
	transition-delay: 0s;
}

.container .bottom {
	width: 0;
	margin: 0 auto;
	position: relative;
	top: 0em;
	display: block;
	border-left: 15em solid #eee;
	border-right: 15em solid #eee;
	border-bottom: 7em solid #eee;
	border-top: 10em solid transparent;
	-webkit-transition: 1.5s ease-in-out;
	-moz-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
	z-index: 100;
}

/* -------------- */

img {
    width: auto; /* Assurez-vous que la largeur s'adapte correctement */
    height: 100%; /* L'image prendra seulement la hauteur disponible dans son conteneur */
    max-width: 50%; /* Empêche l'image de dépasser de la largeur de son conteneur parent */
    object-fit: contain; /* Adapte l'image pour rester proportionnelle à l'intérieur de son conteneur */
    position: relative;
    z-index: 1;
    transition: all 1.5s ease-in-out;
}

